/* Reto I */
.Reto1 {
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
  cursor: default;
  color: var(--blanco);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imgs/Designer-microsoft-ia-animal-monster.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(0.4);
    z-index: -1;
  }

  & h2 {
    font-size: 2.5rem;
    margin: 2rem auto 3rem;
    line-height: 3.5rem;
  }

  & p {
    line-height: 2rem;
  }

  & h3 {
    margin: 0 auto 2rem;
    line-height: 2rem;
  }

  & .michisGrid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 3.1rem;
    margin: 1rem auto 2rem;
    width: 100%;
    max-width: 700px;

    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 9px solid var(--tierra);
        outline: 5px solid var(--amarillo);
        border-radius: 30px;
      }
    }

    & .michi1 {
      grid-area: 1/1/2/2;
    }

    & .michi2 {
      grid-area: 1/2/2/3;
    }

    & .michi3 {
      grid-area: 2/1/3/2;
    }

    & .michi4 {
      grid-area: 2/2/3/3;
    }
  }
}

@media only screen and (max-width: 450px) {
  .Reto1 {
padding: 0;
    h2 {
      font-size: 2rem;
      text-align: center;
    }

    p {
      width: 100vw;
    }

    & .michisGrid {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90vw;
      margin: 2rem auto;
      overflow: hidden; /* Evita que el contenido se desborde */

      & div {
        width: 100%;
        margin: 1rem auto;
      }

      & p {
        font-size: 0.8rem;
        width: 90vw;
      }
    }
  }
}

/* Reto II */
.Reto2 {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
  cursor: default;
  color: var(--blanco);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imgs/freepik__pixel-art-8bits-a-horde-of-dark-zombies-emerging-f__67828.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(0.4);
    z-index: -1;
  }

  & h2 {
    font-size: 2.5rem;
    margin: 2rem auto 3rem;
    line-height: 3.5rem;
  }

  & p {
    line-height: 2rem;
  }

  & h3 {
    margin: 0 auto 2rem;
    line-height: 2rem;
  }

  & .miniZombie {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 50%;
  }

  & .camino {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;

    & .paso {
      width: 150px;
      height: 150px;
      border: 2px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;
      background-color: orange;
      border-radius: 50%;
      box-shadow: inset 0 0 10px 5px #000, 0 0 10px #000;
      background-image: url("/imgs/Calabaza-de-Halloween-300x300.webp");
      background-size: cover;
      background-position: center;

      & p {
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .Reto2 {
    padding: 1rem;

    h2 {
      font-size: 2rem;
      text-align: center;
    }

    & .miniZombie {
      width: 75px;
      height: 75px;
      object-fit: cover;
      margin: 0 auto;
      border-radius: 50%;
    }

    & .camino {
      width: 100%;

      & .paso {
        width: 75px;
        height: 75px;

        & p {
          margin: 0 auto;
        }
      }
    }
  }
}

/* animaciones de animista.net */
.vibrate {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-20 18:7:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* Reto III */
.Reto3 {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3rem 3rem;
  cursor: default;
  color: var(--blanco);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imgs/freepik__pixel-art-8bits-a-terrifying-scene-featuring-a-red__67829.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(0.666);
    z-index: -1;
  }

  & p {
    line-height: 2rem;
  }

  & h2 {
    font-size: 2.5rem;
    margin: 2rem auto 3rem;
    line-height: 3.5rem;
  }

  & h3 {
    margin: 0 auto 2rem;
    line-height: 2rem;
  }

  & .retoCodigo {
    text-align: left;
    background-color: var(--vino);
    color: var(--amarillo);
    border: 6px solid var(--anaranjado);
    padding: 1rem;
    margin: 2rem auto;

    & p {
      cursor: pointer;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid white;
      }
    }
  }
}

.none {
  display: none;
}

.demonioVisible {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0 auto;
  margin: 0 auto;
  position: relative;
  background-color: var(--negro);

  & img {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    position: absolute;
  }
}

@media only screen and (max-width: 450px) {
  .Reto3 {
    & p {
      width: 100vw;
    }

    & .retoCodigo {
      width: 100vw;
      margin: 0;
      margin-bottom: 2rem;
      margin-top: 2rem;

      & p {
        font-size: 0.85rem;
        width: 90vw;
        word-wrap: break-word;
      }

      & .noSpan {
        display: none;
      }
    }
  }
}

/* animaciones */
.textoFantasma {
  animation: fantasma 2s infinite;
}

@keyframes fantasma {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.99;
  }
}

/* Reto Final */
.RetoFinal {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
  cursor: default;
  text-align: center;
  position: relative;
  color: var(--blanco);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imgs/Designer-microsoft-undefined-representation.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(0.4);
    z-index: -1;
    color: var(--blanco);
  }

  & h2 {
    font-size: 2.5rem;
    margin: 2rem auto 3rem;
    line-height: 3.5rem;
  }

  & h3 {
    text-align: left;
    margin: 0 auto 3rem;
    line-height: 2rem;
    width: 100%;
  }

  & p {
    line-height: 2rem;
  }

  & .temporizadorYMichi {
    position: relative;
    width: 666px;
    max-width: 100%;
    margin: 2rem auto 3rem;

    & .temporizador {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: white; /* Asegúrate de que el texto sea visible sobre la imagen */
      text-align: center;
    }
    & .tuMichi {
      position: relative;
      width: 100%;
      height: 100%;

      & .gatoOriginal {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.5);
      }
    }
  }

  & img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    border: 9px solid var(--vino);
    outline: 5px solid var(--tierra);
  }

  .bucles {
    text-align: left;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0 auto 2rem;

    & .bucle1,
    .bucle2 {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border: 6px solid var(--amarillo);
      background-color: var(--vino);
      padding: 1rem 1rem 2rem;
      color: var(--verdeClaro);

      & label {
        margin: 2rem auto;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Press Start 2P", monospace;
        height: 2rem;
        width: 250px;
      }

      & input {
        width: 250px;
        height: 2rem;
        font-size: 1.5rem;
        text-align: center;
        font-family: "Press Start 2P", monospace;
      }

      & p {
        line-height: 3rem;
      }
    }

    & .completar {
      color: red;
      position: relative;
      top: 5px;
    }
  }

  .demonioVisible {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    margin: 0 auto;
    margin: 0 auto;
    position: relative;
    background-color: var(--negro);

    & img {
      width: 100vw;
      height: 100vh;
      object-fit: contain;
      position: absolute;
    }
  }
}

@media only screen and (max-width: 450px) {
  .RetoFinal {
    & h3 {
      width: 99vw;
    }

    & h2 {
      font-size: 2rem;
      text-align: center;
    }

    & p {
      width: 100vw;
    }

    & .bucles {
      font-size: 1rem;
      margin-bottom: 2rem;
      width: 90vw;

      & .bucle1,
      .bucle2 {
border: 3px solid var(--amarillo);
        & p {
          width: 90vw;
          line-height: 2rem;
        }

        & label,
        input {
          text-align: center;
        }
      }
    }
  }
}

/* animaciones de animista.net */
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-20 19:34:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
